<%- include("partials/dashboardheader.ejs") %>

    <div class="container">

        <div class="nav">
            <p><a href="/dashboard/home" class="nav-link">Home</a>/<a href="/dashboard/myblogs" class="nav-link">My
                    Blogs</a>
            </p>
        </div>

        <% if(blogs.length> 0){ %>
            <% blogs.forEach(blog=> { %>
                <a href="/<%= blog._id %>">
                    <div class="card">
                        <div class="img-holder">
                            <img src="<%= blog.image %>" alt="<%= blog.title %>">
                        </div>
                        <div class="content">
                            <h3 class="title">
                                <%= blog.title %>
                            </h3>
                            <p class="description">
                                <% if(blog.content.length> 100){ %>
                                    <%= blog.content.substring(0, 140)%> <span class="readmore">Readmore...</span>
                                        <% }else{ %>
                                            <%= blog.content %>
                                                <% } %>
                            </p>
                            <p class="date">
                                <%= blog.date %>
                            </p>
                        </div>
                    </div>
                </a>
                <% }); %>
                    <% }else{ %>
                        <h1>No Blogs yet, Create one...</h1>
                        <% } %>

    </div>

    <%- include("partials/footer.ejs") %>